<!--#set var="LINKTITLE" value="GNOME: Downloading: <?echo $dist;>" -->
<?

/* Initialize Default Mirror and platform */ 

$strDefault="ftp://ftp.gnome.org/pub/GNOME/";
$strArcDefault="i386";
$strDistDefault="redhat";

/* Initialize Form Mirror Variables and Architecture Variable */

$strUrl;
$strArc;
$strDist = $dist;
$strI;
$strA;
$strS;
$strMir;

/* Process form values
* mirror is hidden form value that="change" when a new mirror is selected
* D1 is the value of the current form selection
* R1 is the value for the architecture selection
*/
if($strDist == "linuxppc") {
	$strArc = "ppc";
	$strArcDefault = "ppc";
}

if ($mirror == "" ) {
     $strUrl="$strDefault";
     $strArc="$strArcDefault";
} else {
     if ($D1 == "") {
          $strUrl="$strDefault";
          $strArc="$strArcDefault";
     } else {
          $strUrl="$D1";
          $strArc="$R1";
     }
}

/* Setup radio button checked value */

if ($strArc == "i386") {
    $strI="checked";
    $strA="";
    $strS="";
} 
if ($strArc == "alpha") {
    $strI="";
    $strA="checked";
    $strS="";
} 
if ($strArc == "sparc") {
    $strI="";
    $strA="";
    $strS="checked";
} 

/* strip leading ftp or http and path ending from current mirror value for form selected listing */

/* leading string to strip variable */

$linkstring;

/* Check for ftp or http at start of string and strip */

if (reg_match("^ftp://",$strUrl)) {
	$linkstring = reg_replace("^ftp://","",$strUrl);
}
if (reg_match("^http://",$strUrl)) {
	$linkstring = reg_replace("^http://","",$strUrl);
}

/* Check for path at end of string and strip */

$rstring = reg_search("/",$linkstring);
$strMir = reg_replace("$rstring$","",$linkstring);

?>

<table border="1" cellpadding="4" cellspacing="0">
  <tr>
    <th valign="middle"><a name="Top">Current Links</a></th>
    <th valign="middle">Project Comments</th>
  </tr>
  <tr>
    <td valign="top" align="left">
    <small><strong>GNOME Download Links point to:</strong><br>
    <? echo $strMir ?><br>
    <? echo $strArc?> Architecture</small><br>
    <form method="GET" action="gnomerpm.phtml" name="mirrors">
	<input type=hidden name="dist" value="<?echo $strDist>">
      <input type="hidden" name="mirror" value="change"><p><input type="radio" value="i386" <? echo $strI ?> name="R1">i386&nbsp;&nbsp; <input type="radio" name="R1" <? echo $strA ?> value="alpha"> Alpha &nbsp;&nbsp; <input type="radio" name="R1" <? echo $strS ?> value="sparc">Sparc</p>
      <p><select name="D1" size="1">
		<option selected value="<? echo $strUrl ?>"><? echo $strMir ?></option>
		<option value="ftp://ftp.gnome.org/pub/GNOME/">ftp.gnome.org(US)(Default)</option>
	 	<option value="ftp://gnomeftp.wgn.net/">gnomeftp.wgn.net(US)</option>
		<option value="ftp://epoch.res.cmu.edu/mirrors/ftp.gnome.org/">epoch.res.cmu.edu(US)</option>
        <option value="ftp://ftp.snoopy.net/pub/mirrors/GNOME/">ftp.snoopy.net(US)</option>
        <option value="ftp://ftp.cybertrails.com/pub/gnome/">ftp.cybertrails.com(US)</option>
<!-- out of date
	<option value="ftp://server.ph.ucla.edu/pub/mirror/ftp.gnome.org/">server.ph.ucla.edu(US)</option>
-->
        <option value="ftp://rpmfind.net/linux/gnome.org/">rpmfind.net(US)</option>
        <option STYLE="color: red;" value="http://rpmfind.net/linux/gnome.org/">rpmfind.net(US)(HTTP)</option>

<!-- south america -->
        <option value="ftp://ftp.inf.utfsm.cl/pub/Linux/Gnome/">ftp.inf.utfsm.cl(South America)</option>
        <option value="ftp://ftp.tas.gov.au/gnome/">ftp.tas.gov.au(Australia)</option>
        <option value="ftp://mirror.aarnet.edu.au/pub/gnome/">mirror.aarnet.edu.au(Australia)</option>
        <option value="ftp://ftp.dti.ad.jp/pub/X/GNOME/">ftp.dti.ad.jp(Asia)</option>
        <option value="ftp://ftp.gts.cz/pub/MIRRORS/ftp.gnome.org/pub/GNOME/">ftp.gts.cz(Europe)</option>
        <option value="ftp://sunsite.mff.cuni.cz/X11/Desktops/GNOME/GNOME/">sunsite.mff.cuni.cz(Europe)</option>
        <option value="ftp://ftp.fr.gnome.org/pub/gnome/">ftp.fr.gnome.org(Europe)</option>
        <option value="ftp://ftp.sunet.se/pub/X11/GNOME/">ftp.sunet.se(Europe)</option>
        <option value="ftp://unix.hensa.ac.uk/mirrors/ftp.gnome.org/pub/GNOME/">unix.hensa.ac.uk(Europe)</option>
        <option STYLE="color: red;" value="http://unix.hensa.ac.uk/mirrors/ftp.gnome.org/pub/GNOME/">unix.hensa.ac.uk(Europe HTTP)</option>
        <option value="ftp://ftp.net.lut.ac.uk/gnome/">ftp.net.lut.ac.uk(Europe)</option>
        <option value="ftp://sunsite.doc.ic.ac.uk/Mirrors/ftp.gnome.org/pub/GNOME/">sunsite.ic.ac.uk(Europe)</option>
        <option value="ftp://ftp.archive.de.uu.net/pub/X11/GNOME/">ftp.archive.de.uu.net(Europe)</option>
        <option value="ftp://ftp.informatik.uni-bonn.de/pub/os/unix/gnome/">ftp.informatik.uni-bonn.de(Europe)</option>
        <option value="ftp://ceu.fi.udc.es/os/linux/X-Window/GNOME/GNOME-ftp/">ceu.fi.udc.es(Europe)</option>
        <option value="ftp://ftp.dataplus.se/pub/linux/gnome/">ftp.dataplus.se(Europe)</option>
        <option value="ftp://ftp.linux.it/pub/mirrors/gnome/">ftp.linux.it(Europe)</option>
        <option value="ftp://ftp3.linux.it/pub/mirrors/gnome/">ftp3.linux.it(Europe)</option>
        <option value="ftp://ftp.linux.hr/pub/gnome/GNOME/">ftp.linux.hr(Europe)</option>
        <option value="ftp://linux.a2000.nl/gnome/">linux.a2000.nl(Europe)</option>
        <option value="ftp://sunsite.icm.edu.pl/pub/Linux/GNOME/">sunsite.icm.edu.pl(Europe)</option>
        <option value="ftp://ftp.task.gda.pl/pub/linux/GNOME/">ftp.task.gda.pl(Europe)</option>
        <option value="ftp://gd.tuwien.ac.at/hci/GNOME/">gd.tuwien.ac.at(Europe)</option>
        <option STYLE="color: red;" value="http://gd.tuwien.ac.at/hci/GNOME/">gd.tuwien.ac.at(Europe)(HTTP)</option>
        <option value="ftp://ftp.uni-trier.de/pub/unix/X11/tooolkits/gnome/">ftp.uni-trier.de(Europe)</option>
        <option value="ftp://ftp.dit.upm.es/linux/gnome/">ftp.dit.upm.es(Europe)</option>
      </select><br>
      <input type="submit" value="Change Download Links" name="B1"> </p>
    </form>
	<small>
    <p><strong>GNOME FTP site:</strong><br>
    <a href="<? echo $strUrl ?>"><? echo $strUrl ?></a><br>
    </p>

    <strong>GNOME Base package downloads:<br></strong>

<?
$dirname = "/ftp/pub/GNOME/gnome-1.0.53/"+$strDist+"/"+$strArc+"/Base/";
opendir($dirname);
$dir[] =  readdir();
while($dir[]) ;
	$dir[] =  readdir();
endwhile;
rewinddir();
closedir();
reset($dir);
sort($dir);
$j = 0;
while($j < count($dir));
			if (eregi("^\.",$dir[$j]));
			else ;
				if (eregi("rpm$",$dir[$j]));
					if (strchr($dir[$j], "noarch"));
    		     		$dir[$j] = eregi_replace("noarch.rpm$", "", $dir[$j]);
echo "<a href=\""+$strUrl+"gnome-1.0.53/"+$strDist+"/"+$strArc+"/Base/";
echo $dir[$j],"noarch.rpm\">",$dir[$j],"noarch.rpm</a><br>\n";
					else ;
    		     		$dir[$j] = eregi_replace($strArc+".rpm$", "", $dir[$j]);
					echo "<a href=\"",$strUrl,"gnome-1.0.53/"+$strDist+"/"+$strArc+"/Base/";
					echo $dir[$j],$strArc,".rpm\">";
							echo $dir[$j],$strArc,".rpm</a><br>\n";
					endif;
				endif;
			endif;
$j++;
endwhile;
unset($dir);
echo "</p>";
>

    <p><strong>GNOME <a name="devel">Development</a> package downloads:</strong><br>

<?
$dirname = "/ftp/pub/GNOME/gnome-1.0.53/"+$strDist+"/"+$strArc+"/Devel/";
opendir($dirname);
$dir[] =  readdir();
while($dir[]) ;
$dir[] =  readdir();
endwhile;
rewinddir();
closedir();
reset($dir);
sort($dir);
$j = 0;
while($j < count($dir));
			if (eregi("^\.",$dir[$j]));
			else ;
				if (eregi("rpm$",$dir[$j]));
					if (strchr($dir[$j], "noarch"));
    		     		$dir[$j] = eregi_replace("noarch.rpm$", "", $dir[$j]);
	echo "<a href=\""+$strUrl+"gnome-1.0.53/"+$strDist+"/"+$strArc,"/Devel/";
				echo $dir[$j],"noarch.rpm\">",$dir[$j],"noarch.rpm</a><br>\n";
					else ;
    		     		$dir[$j] = eregi_replace($strArc+".rpm$", "", $dir[$j]);
			echo "<a href=\""+$strUrl+"gnome-1.0.53/"+$strDist+"/"+$strArc,"/Devel/";
						echo $dir[$j],$strArc,".rpm\">";
						echo $dir[$j],$strArc,".rpm</a><br>\n";
					endif;
				endif;
			endif;
$j++;
endwhile;
unset($dir);
echo "</p>";
ClearStack();
>
</td>
    <td valign="top" align="left">
<small>
The steps for getting GNOME installed are as follows:
<dl>
<dt><li><strong>Download listed package files</strong></li></dt>
<dd>
Select the links to the .rpm files listed, and save them using your web browser.
<p>
Users will not need to download <a href="#devel">development packages</a> unless they
are going to develop or compile GNOME packages.
</dd>
<dt><li><strong>Install the packages</strong></li></dt>
<dd>
Once you have all the package files downloaded, move them into a separate directory by
themselves, and then type 'rpm -Uvh *.rpm'. You may have to install other packages from
your Linux distribution in order to satisfy required dependencies.</dd>
</dl>
</small>
<!--
	<small>
	This is a summary of a GNOME installation on Red Hat Linux/Intel 6.x using the
latest GNOME rpm release files. The procedure for other distributions is similar.<br>
    <br>
    <strong><a name="Status">Red Hat GNOME Installation Requirements</a></strong><br>
    <strong>Red Hat 6.x</strong><br>
    Post all current errata for Red Hat 6.x as of the date of your installation.<br>
    <br>
    Red Hat 6.x has all the necessary support libraries for October GNOME.  You should
upgrade all the packages on this page, but no other libraries should be necessary (unless you opted not to install them during installation).<br>
    Use at least the recommended default packages for installation to ensure you have the necessary support libraries.  If you plan to do any GNOME development, an Everything install is recommended.
    <br>

    <strong>File organization:<br>
    </strong>Files will install in the /usr tree in the bin, doc, etc, include, info, lib, libexec, man, share, and var directories.<br><br>
    If you download and install all of the files:<br>
    The GNOME RPM download directory will occupy about 35 to 40 megabytes.<br>
    Base installation will use about 50 megabytes under the /usr tree.<br>
    Development installation will use about 60 to 70 megabytes under the /usr tree.
    <p><strong>Procedures for Upgrading/Installing GNOME</strong><br>

      <strong>Upgrading GNOME:</strong><ul>
      <li>After download, Run "rpm -Uvh *.rpm" from your download directory to upgrade all of the packages.</li>
      <li>Version conflicts should not occur while upgrading from a recent version of GNOME. If version conflicts or dependency errors occur during upgrade from an outdated version of GNOME, you may have to remove the old GNOME packages causing the errors. Then upgrade to the new release.</li>
      <li>Users with numerous old GNOME session/configuration files may want to delete their home directory .gnome directory tree before restarting GNOME.</li>
    </ul>
     <strong>Installing GNOME:</strong>
	<ul>

	<li>Merely cd to the directory to which you downloaded the 1.0.53 RPMs and run
"rpm -Uvh *.rpm".  You should not receive any dependency errors.  If you do, check your
distribution CD for the appropriate library.

    <p><strong><a name="Finishing">Finishing</a> Up and Starting GNOME</strong><ul>
    <li>If you are using Red Hat 6.x, and GNOME is already your default desktop
environment, no changes are necessary.  Simply start your X session or log in through gdm like you normally would.
	<li>If your default desktop environment is KDE or a window manager of some sort, check your home directory for the files .Xclients, .xsession, or .xinitrc.  If any one of them exists, open it to see if it contains a line similar to 'exec startkde'.  If it does, remove the executable bit on that file (with "chmod -x .xinitrc/.Xclients/.xsession"; choose the name of the file that exists in your home directory), and then restart your X session.  If it continues to start something other than GNOME, create the file .xsession in your home directory (with "touch .xsession"), then edit it with your favorite text editor to read 'exec gnome-session'.  Save this file, set the executable bit on it (with "chmod +x .xsession"), and then restart your X session.
    <p><a name="Done"><strong> Done</strong></a></p>
    <p><a href="#Top"> Top</a>
	</small>
-->
	</td>
  </tr>
  <tr>
    <td valign="middle" align="center">
	<address><small>Authored by <a href="mailto:lthom@midwest.net">Les Thompson</a>, Updated for 1.0.53 by Ned Rhudy </small></address>
    </td>
    <td valign="top" align="left"><div align="center"><center>
<address><small>Comments to <a href="mailto:nrhudy@pabus.com">nrhudy@pabus.com</a></small></address>
    </center>
</div>
</td>
</tr>
</table>
