<?

/* Initialize Default Mirror and platform */ 

$strDefault="ftp://ftp.gnome.org/pub/GNOME/" ; 

/* Initialize Form Mirror and Link Variables */

$strUrl; 
$strMir;

/* Process form values
* mirror is hidden form value that="change" when a new mirror is selected
* D1 is the value of the current form selection
* R1 is the value for the architecture selection
*/

if ($mirror == "" ) {
     $strUrl="$strDefault";
} else {
     $strUrl="$D1";
}

/* strip leading ftp or http and path ending from current mirror value for form selected listing */

/* leading string to strip variable */

$linkstring;

/* Check for ftp or http at start of string and strip */

if (reg_match("^ftp://",$strUrl)) {
	$linkstring = reg_replace("^ftp://","",$strUrl);
}
if (reg_match("^http://",$strUrl)) {
	$linkstring = reg_replace("^http://","",$strUrl);
}

/* Check for path at end of string and strip */

$rstring = reg_search("/",$linkstring);
$strMir = reg_replace("$rstring$","",$linkstring);

$title="Getting Started with GNOME";
include "../include/header.phtml";
$title="Getting GNOME Sources";
include "../include/table-start.phtml";
?>

<table border="1" cellpadding="4" cellspacing="0" width="100%">
  <tr>
    <th valign="middle"><a name="Top">Current Links</a></th>
    <th valign="middle">Project Comments</th>
  </tr>
  <tr>
    <td valign="top" align="left">
    <small><strong>GNOME Download Links point to:</strong><br>
	<? echo $strMir ?></small>
    <form method="POST" action="gnometar-new.phtml" name="mirrors">
      <input type="hidden" name="mirror" value="change"><p><select name="D1" size="1">
		<option selected value=<? echo $strUrl ?>><? echo $strMir ?></option>
        <option value="ftp://ftp.gnome.org/pub/GNOME/">ftp.gnome.org(US)(Default)</option>
 	<option value="ftp://gnomeftp.wgn.net/pub/gnome/">gnomeftp.wgn.net(US)</option>
        <option value="ftp://epoch.res.cmu.edu/mirrors/ftp.gnome.org/">epoch.res.cmu.edu(US)</option>
        <option value="ftp://ftp.snoopy.net/pub/mirrors/GNOME/">ftp.snoopy.net(US)</option>
<!-- no response
        <option value="ftp://ftp.geo.net/pub/gnome/">ftp.geo.net(US)</option>
-->
        <option value="ftp://ftp.cybertrails.com/pub/gnome/">ftp.cybertrails.com(US)</option>
<!-- out of date
	<option value="ftp://server.ph.ucla.edu/pub/mirror/ftp.gnome.org/">server.ph.ucla.edu(US)</option>
-->
        <option value="ftp://rpmfind.net/linux/gnome.org/">rpmfind.net(US)</option>
        <option STYLE="color: red;" value="http://rpmfind.net/linux/gnome.org/">rpmfind.net(US)(HTTP)</option>
        <option value="ftp://ftp.inf.utfsm.cl/pub/Linux/Gnome/">ftp.inf.utfsm.cl(South America)</option>
        <option value="ftp://ftp.tas.gov.au/gnome/">ftp.tas.gov.au(Australia)</option>
        <option value="ftp://mirror.aarnet.edu.au/pub/gnome/">mirror.aarnet.edu.au(Australia)</option>
        <option value="ftp://ftp.dti.ad.jp/pub/X/GNOME/">ftp.dti.ad.jp(Asia)</option>
        <option value="ftp://ftp.gts.cz/pub/MIRRORS/ftp.gnome.org/pub/GNOME/">ftp.gts.cz(Europe)</option>
        <option value="ftp://sunsite.mff.cuni.cz/X11/Desktops/GNOME/GNOME/">sunsite.mff.cuni.cz(Europe)</option>
        <option value="ftp://ftp.fr.gnome.org/pub/gnome/">ftp.fr.gnome.org(Europe)</option>
        <option value="ftp://ftp.sunet.se/pub/X11/GNOME/">ftp.sunet.se(Europe)</option>
        <option value="ftp://unix.hensa.ac.uk/mirrors/ftp.gnome.org/pub/GNOME/">unix.hensa.ac.uk(Europe)</option>
        <option STYLE="color: red;" value="http://unix.hensa.ac.uk/mirrors/ftp.gnome.org/pub/GNOME/">unix.hensa.ac.uk(Europe HTTP)</option>
        <option value="ftp://ftp.net.lut.ac.uk/gnome/">ftp.net.lut.ac.uk(Europe)</option>
        <option value="ftp://sunsite.doc.ic.ac.uk/Mirrors/ftp.gnome.org/pub/GNOME/">sunsite.ic.ac.uk(Europe)</option>
        <option value="ftp://ftp.archive.de.uu.net/pub/X11/GNOME/">ftp.archive.de.uu.net(Europe)</option>
        <option value="ftp://ftp.informatik.uni-bonn.de/pub/os/unix/gnome/">ftp.informatik.uni-bonn.de(Europe)</option>
        <option value="ftp://ceu.fi.udc.es/os/linux/X-Window/GNOME/GNOME-ftp/">ceu.fi.udc.es(Europe)</option>
        <option value="ftp://ftp.dataplus.se/pub/linux/gnome/">ftp.dataplus.se(Europe)</option>
        <option value="ftp://ftp.linux.it/pub/mirrors/gnome/">ftp.linux.it(Europe)</option>
        <option value="ftp://ftp3.linux.it/pub/mirrors/gnome/">ftp3.linux.it(Europe)</option>
        <option value="ftp://ftp.linux.hr/pub/gnome/GNOME/">ftp.linux.hr(Europe)</option>
        <option value="ftp://linux.a2000.nl/gnome/">linux.a2000.nl(Europe)</option>
        <option value="ftp://sunsite.icm.edu.pl/pub/Linux/GNOME/">sunsite.icm.edu.pl(Europe)</option>
        <option value="ftp://ftp.task.gda.pl/pub/linux/GNOME/">ftp.task.gda.pl(Europe)</option>
        <option value="ftp://gd.tuwien.ac.at/hci/GNOME/">gd.tuwien.ac.at(Europe)</option>
        <option STYLE="color: red;" value="http://gd.tuwien.ac.at/hci/GNOME/">gd.tuwien.ac.at(Europe)(HTTP)</option>
        <option value="ftp://ftp.uni-trier.de/pub/unix/X11/tooolkits/gnome/">ftp.uni-trier.de(Europe)</option>
        <option value="ftp://ftp.dit.upm.es/linux/gnome/">ftp.dit.upm.es(Europe)</option>
       </select><br>
      <input type="submit" value="Change Download Links" name="B1"> </p>
    </form>
    <small>
	<p><strong>GNOME ftp site:</strong><br>
    <a href="<? echo $strUrl ?>"><? echo $strUrl ?></a><br>
    <strong>GNOME ftp latest sources directory:</strong><br>
    <a href="<? echo $strUrl ?>gnome-1.0.53/sources"><? echo $strUrl ?>gnome-1.0.53/sources</a><br>
<!--
    <strong>GNOME ftp extra sources directory:</strong><br>
    <a href="<? echo $strUrl ?>extra-src"><? echo $strUrl ?>extra-src</a><br>
    <strong>GNOME ftp latest rpm release directory:</strong><br>
    <a href="<? echo $strUrl ?>gnome-1.0.53/redhat"><? echo $strUrl ?>redhat</a><br>
    <strong>GNOME ORBit directory:</strong><br>
    <a href="<? echo $strUrl ?>ORBit"><? echo $strUrl ?>ORBit</a><br>
    <strong>GNOME Imlib directory:</strong><br>
	<a href="ftp://ftp.gnome.org/pub/imlib">ftp://ftp.gnome.org/pub/imlib</a><br>
    <strong>Red Hat labs Imlib web page:</strong><br>
    <a href="http://www.labs.redhat.com/imlib">http://www.labs.redhat.com/imlib</a><br>
   <strong>Gtk+ and glib ftp site:</strong><br>
    <a href="ftp://ftp.gtk.org/pub/gtk/v1.2">ftp://ftp.gtk.org/pub/gtk/v1.2</a><br>
    <strong>Libgtop ftp site:</strong><br>
    <a href="ftp://ftp.home-of-linux.org/pub/libgtop/1.1.0">ftp://ftp.home-of-linux.org/pub/libgtop/1.1.0</a><br>
    <strong>Enlightenment ftp site:</strong><br>
    <a href="ftp://ftp.enlightenment.org/pub/enlightenment/enlightenment">Latest Enlightenment Release</a><br>
    <strong>Enlightenment web site:<br>
    </strong><a href="http://www.enlightenment.org">http://www.enlightenment.org</a><br>
    <strong>Enlightenment <a href="#Done">Themes</a> web site:</strong><br>
    <a href="http://e.themes.org">http://e.themes.org</a><br>
-->
    </p>
    <p><a name="Required"><strong>Required Downloads</strong></a><br>
    <strong>Base library downloads:<br>
    </strong>
    <a href="<? echo $strUrl ?>sources/audiofile-0.1.9.tar.gz">audiofile-0.1.9.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/esound/esound-0.2.15.tar.gz">esound-0.2.15.tar.gz</a><br>
    <a href="ftp://ftp.gtk.org/pub/gtk/v1.2/glib-1.2.6.tar.gz">glib-1.2.6.tar.gz</a><br>
    <a href="ftp://ftp.gtk.org/pub/gtk/v1.2/gtk+-1.2.6.tar.gz">gtk+-1.2.6.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/imlib/imlib-1.9.7.tar.gz">imlib-1.9.7.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/gtk-engines/gtk-engines-0.8.tar.gz">gtk-engines-0.8.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/ORBit/ORBit-0.5.0.tar.gz">ORBit-0.5.0.tar.gz</a></p>
    <a href="<? echo $strUrl ?>sources/gnome-1.0.53.50/gnome-libs-1.0.53.tar.gz">gnome-libs-1.0.53.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/libgtop/libgtop-1.0.5.tar.gz">libgtop-1.0.5.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/libxml/libxml-1.7.3.tar.gz">libxml-1.7.3.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/libghttp/libghttp-1.0.4.tar.gz">libghttp-1.0.4.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/libglade/libglade-0.7.tar.gz">libglade-0.7.tar.gz</a><br>

    <p><strong>Core application downloads:</strong><br>
    <a href="<? echo $strUrl ?>sources/control-center/control-center-1.0.51.tar.gz">control-center-1.0.51.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/gnome-core/gnome-core-1.0.53.tar.gz">gnome-core-1.0.53.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/mc/mc-4.5.40.tar.gz">mc-4.5.40.tar.gz</a></p>

    <p><strong>GNOME Additional source downloads:</strong><br>

    <a href="<? echo $strUrl ?>sources/glade/glade-0.5.3.tar.gz">glade-0.5.3.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/gnome-python/gnome-python-1.0.50.tar.gz">gnome-python-1.0.50.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/users-guide/users-guide-1.0.70.tar.gz">users-guide-1.0.70.tar.gz</a><br>

    <a href="<? echo $strUrl ?>sources/gnome-utils/gnome-utils-1.0.50.tar.gz">gnome-utils-1.0.50.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/gnome-pim/gnome-pim-1.0.50.tar.gz">gnome-pim-1.0.50.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/gnome-media/gnome-media-1.0.51.tar.gz">gnome-media-1.0.51.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/gnome-audio/gnome-audio-1.0.0.tar.gz">gnome-audio-1.0.0.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/gnome-print/gnome-print-0.9.tar.gz">gnome-print-0.9.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/gnome-games/gnome-games-1.0.51.tar.gz">gnome-games-1.0.51.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/ee/ee-0.3.11.tar.gz">ee-0.3.11.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/gnumeric/gnumeric-0.38.tar.gz">gnumeric-0.38.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/gtop/gtop-1.0.5.tar.gz">gtop-1.0.5.tar.gz</a><br>
    <a href="<? echo $strUrl ?>sources/gdm-2.0beta4.tar.gz">gdm-2.0beta4.tar.gz</a><br>
    <a href="<? echo $strUrl ?>gnome-1.0.53/sources/xchat-1.2.1.tar.gz">xchat-1.2.1.tar.gz</a><br>

	</small>
	</td>
    <td valign="top" align="left">
	<small>

Download all the source files in order, and use the standard
<code>./configure; make; make install</code> command sequence to
compile and install each package. If you choose to specify a
<code>--prefix</code> option to the ./configure command, please
specify the same one for all the packages - current GNOME limitations
prevent full functionality unless this is done.
<p>
If you are installing from source onto a system that has GNOME installed via the packaging system, please remove the packages before compiling.

    <p><strong><a name="Finishing">Finishing</a> Up and Starting GNOME</strong><ul>
    <li>If you are using Red Hat 6.x, and GNOME is already your default desktop
environment, no changes are necessary.  Simply start your X session or log in through gdm like you normally would.
	<li>If your default desktop environment is KDE or a window manager of some sort, check your home directory for the files .Xclients, .xsession, or .xinitrc.  If any one of them exists, open it to see if it contains a line similar to 'exec startkde'.  If it does, remove the executable bit on that file (with "chmod -x .xinitrc/.Xclients/.xsession"; choose the name of the file that exists in your home directory), and then restart your X session.  If it continues to start something other than GNOME, create the file .xsession in your home directory (with "touch .xsession"), then edit it with your favorite text editor to read 'exec gnome-session'.  Save this file, set the executable bit on it (with "chmod +x .xsession"), and then restart your X session.
</ul>

    <p><a name="Done"><strong>Done</strong></a></p>
    <p><a href="#Top">Top</a>
	</small>
	</td>
  </tr>
  <tr>
    <td valign="middle" align="center"><address>
      <small>Authored by Les Thompson</small> 
    </address>
    </td>
    <td valign="top" align="left">
	<div align="center"><center><address>
      <small>Comments to <a href="mailto:lthom@midwest.net">lthom@midwest.net</a></small>
    </address>
    </center>
  </div>
  </td>
 </tr>
</table>

<?
include "../include/table-end.html";
include "../include/footer.html";
>

