BODY {
	background: #ffffff;
	background-image: url(/images/bg-really-light.jpg);
	background-repeat: repeat;
}

DIV {
	color:			#000000;
	background:		#ffd700;

	margin-left:	0.1em;
	margin-right:	0.1em;
	margin-top:		1em;

	font-family:	times, serif;
	text-align:		justify;

	border-style:	solid;
	border-color:	black;
	border-width:	thick;

	padding:		1em;
}

STRONG {
	color: red
}

A:link {
	text-decoration: none;
	color: navy
}
 
A:visited {
	text-decoration: none;
	color: navy
}

A:active { 
	text-decoration: none;
	color: navy 
}

A:hover {
	text-decoration: underline;
	color: red
}
