BODY {
	background: #ffffff;
	background-image: url(/images/bg-really-light.jpg);
	background-repeat: repeat;
}

.bottom {
	text-align: center;
	font-size: smaller;
}

.top {
	border-color: black;
	border-width: thin;
	background: white;
	border-style: groove;
	width: 100%;
}

.border {
	valign: top;
	border-color: black;
	border-width: thin;
	border-style: groove;
	background: white;
}

STRONG {
	color: black
}

A:link {
	color: navy
}
 
A:visited {
	color: navy
}

A:active { 
	color: navy 
}

A:hover {
	color: red
}
