<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<HTML>
<HEAD>
 <LINK rel=STYLESHEET type="text/css" href=@@STYLESHEET@@>
 <TITLE>@@LINKTITLE@@</TITLE>
</HEAD>

<BODY>
  <table border=0 cellpadding="0" cellspacing="0" width="100%">
  <tr><td>
          <IMG SRC="/images/gnomeweb-logo.gif" ALT="GNOME.org"  BORDER=0
           usemap="#inside">

          <MAP name="inside">
             <area coords="0,0,225,49"       href="/">
             <area coords="241,10,337,21"    href="http://www.gnome.org">
             <area coords="241,29,310,39"    href="http://www.gnome.org/ftpmirrors.shtml">
	     <area coords="357,10,383,21"    href="http://cvs.gnome.org/lxr">
	     <area coords="357,28,397,38"    href="http://cvs.gnome.org/bonsai">
	     <area coords="415,10,490,21"    href="http://bugs.gnome.org">
             <area coords="415,28,501,38"    href="http://www.gnome.org/applist">
          </MAP>
  </td></tr>
  <tr><td rowspan="0" >
    <table border=0 cellpadding=0 cellspacing="3" width="100%" height="100%">
    <tr><td valign="top" align="left" width="20%">
      <table border=0 cellpadding=0 cellspacing=0 width="100%" height="100%">
      <tr><td valign="top">
        <table border=0 cellpadding="0" cellspacing="0" width="100%" height="100%">
        <tr><td bgcolor="#777777" valign="top">
          <table  border="0" cellpadding="0" cellspacing="0" width="100%" align="center" height="100%">
          <tr><td  valign="top" bgcolor="#ffffff" nowrap>
            <small>
	    <table border=0 cellpadding="0" cellspacing="0" width="100%" height="50">
	    	<tr><td valign="top" colspan=0 background="/images/testbar.gif">&nbsp;</td></tr>
	    <tr><td>	
@@NAVIGATION@@
	    </td></tr>
	    </table>
	    
            </small>
          </td></tr>
          </table>
        </td></tr>
        </table>
      </td></tr>
      </table>
    </td><td valign="top" >
      <table border=0 cellpadding="0" cellspacing="0" width="100%">
      <tr><td bgcolor="#777777" valign="top" >
        <table  border="0" cellpadding="5" cellspacing="2" width="100%" align="center">
        <tr><td valign="top" bgcolor="#ffffff">
