<html><head><title>Package Listing</title></head>

<body bgcolor=#ffffff background="/pics/bg.gif">


<!-- make page a table -->
<center>
<table bgcolor=#fefefe width=95% CELLSPACING=1 CELLPADDING=4 BORDER=1>
<tr><TD BGCOLOR="#ccccc0" ALIGN=center>
    <BIG><B>
    GNOME Software Map
    </B></BIG>
</TD></TR> 
<tr>
<td>

<!-- start of page contents -->


<?

function qmeta $a (
   return ereg_replace("`", "``", $a);
);


mysql_connect("www.gnome.org","gnomeweb","saHrl@nd");

if($name) {
	if(($version != ""&& $mname != "") && $memail != "") {
	} else {
		echo "You did not fill in a required field.";
		exit;
	}

	$qry = "INSERT INTO applist (name, version, maintainer_name, maintainer_email, description, keywords, requires, url_homepage, url_screenshot, url_download, in_cvs, category, added) VALUES ('"+qmeta($name)+"', '"+qmeta($version)+"', '"+qmeta($mname)+"','"+qmeta($memail)+"','"+qmeta($description)+"','"+qmeta($keywords)+"','"+qmeta($requires)+"','"+qmeta($url_homepage)+"','"+qmeta($url_screenshot)+"','"+qmeta($url_download)+"','"+qmeta($in_cvs)+"','"+qmeta($category)+"',NOW())";

	$result = mysql("gnomeapps", $qry);

	mysql_close();
	if ($result != -1) {
		echo "Listing added.<p>\n";
	} else {
		echo "\nError adding entry - perhaps an entry with that name exists\n";
	}
	echo "<p><a href=/applist>Return to main page...</a>\n";
} else {
>
<p>
We require the email address and name of the author so we have a contact
who is maintaining the package. This information is not going to be 
resold, etc etc. 
<p>
The purpose of the software map is to provide authors a forum to 
let others know about their hard effort. For GNOME to be successful we
need to have regular, stable releases of quality applications. Please
keep your software entry up-to-date.
<p>
Please do not put GTK-only applications in the software map - there is
a page at <a href=http://sunsite.unc.edu/gtk>http://sunsite.unc.edu/gtk</a>
for GTK applications.
<p>
For the requirements - anything gnome-libs requires you do NOT need to list.
This means you DO NOT need to list imlib, gtk, glib.
<p>
<em><b>NOTE:</b>*'d fields are required</em>
<p>
<form method=post>
<table>
<tr><td>Package name:</td>
<td><input type=text name=name maxlength=100 size=40><font color=#ff0000>*</font></td></tr>
<tr><td>Current version:</td>
<td><input type=text name=version maxlength=100 size=40><font color=#ff0000>*</font></td></tr>
<tr><td>Maintainer's name:</td>
<td><input type=text name=mname maxlength=100 size=40><font color=#ff0000>*</font></td></tr>
<tr><td>Maintainer's E-mail address:</td>
<td><input type=text name=memail maxlength=100 size=40><font color=#ff0000>*</font></td></tr>
<tr><td colspan=2>Description:</td>
<tr><td colspan=2>
<textarea name=description rows=5 cols=60 wrap=hard>
</textarea></td></tr>
<tr><td>Search keywords:</td>
<td><input type=text name=keywords maxlength=100 size=40></td></tr>
<tr><td>Requirements (besides gnome-libs):</td>
<td><input type=text name=requires maxlength=100 size=40></td></tr>
<tr><td>Homepage URL:</td>
<td><input type=text name="url_homepage" maxlength=100 size=40></td></tr>
<tr><td>Screenshot URL:</td>
<td><input type=text name="url_screenshot" maxlength=100 size=40></td></tr>
<tr><td>Download URL (for stable releases):</td>
<td><input type=text name="url_download" maxlength=100 size=40></td></tr>
<tr><td>Is development code in CVS?</td>
 <td><table><tr><td><input type=radio name=in_cvs value="Y">Yes</td>
    <td><input type=radio name=in_cvs value="N" checked>No</td>
 </tr></td></table>
</tr>
<tr><td>Category:</td>
<td>
<select name="category" size=1>
<option>Core
<option>Development Tools
<option>Entertainment
<option>Internet Tools
<option>Mail Clients
<option>Math and Science Tools
<option>Miscellaneous
<option>Network Talk Clients (IRC/ICQ/etc)
<option>Productivity
<option>Sound Tools
<option>System Utilities
<option>Window/Session/Desktop Managers
<option>Electrical Design/Programmers
</select>
</td></tr>
</table>
<input type=submit value="Save">
</form>
<?
}
>

<!-- end of page content -->
</td>
</tr>
</table>
</center>



</body>
</html>
