<html><head><title>Package Listing</title></head>

<?
/* 1999-02-04 - Dave Camp <campd@oit.edu>
 * Changed the icons (home.gif, shot.gif, and pack.gif) to use 
 * absolute urls (/applist/home.gif, etc) */
> 

<BODY bgcolor="#ffffff" background="/pics/bg.jpg" TEXT="#330000" LINK="#770000" VLINK="#600000">

<?

  if ($numlist == "") {
      echo "<center>";
      echo "<FONT FACE=\"lucida, helvetica\">";
      echo "<table border=0 cellspacing=1 cellpadding=0>";
      echo "  <tr>";
      echo "    <td>";
      echo "      <a href=/><IMG SRC=/pics/foot-transparent.gif ALT=\"[ GNOME Logo by Tigert ]\" border=0></a><BR>";
      echo "    </td>";
      echo "    <td>";
      virtual ("/include/menu.html");
      echo "    </td>";
      echo "</table>";
      echo "</center>";
  }
>

<!-- make page a table -->
<!-- <center> -->
<!-- <table bgcolor=#ffffff width=95% CELLSPACING=1 CELLPADDING=4 BORDER=1> -->
<!-- <tr><TD BGCOLOR="#ccccc0" ALIGN=center> -->
<!--    <BIG><B> -->
<!--    GNOME Software Map -->
<!--    </B></BIG> -->
<!-- </TD></TR> -->
<!-- <tr> -->
<!-- <td BGCOLOR="#eeeee0"> -->

<!-- start of page contents -->

<?

function qmeta $a (
   return ereg_replace("`", "``", $a);
);

mysql_connect("www.gnome.org","gnomeweb","saHrl@nd");

# get time since last change 
$res = mysql("gnomeapps", "SELECT touched FROM applist ORDER BY touched DESC");
if(!$res) {
	echo "Query failed</td></tr></table>";
	mysql_close();
	exit;
}

# get latest entry
$touched = mysql_result($res, 0, "touched");
$hour = substr($touched, 8, 2);
$min  = substr($touched, 10, 2);
$sec  = substr($touched, 12, 2);
$year = substr($touched, 0, 4);
$mon  = substr($touched, 4, 2);
$day  = substr($touched, 6, 2);
$touchedts =  MkTime($hour,$min,$sec,$mon,$day,$year);

# free first query results
mysql_freeresult($res);

>


<!-- start of the software map -->
<center>
<table bgcolor = #eeeee0 border=3 cellspacing=1 cellpadding=4 width="95%">
<tr bgcolor="#ccccc0"><th colspan=4><BIG><BIG><B>Gnome Software Map</B></BIG></BIG><br><SMALL>Last updated: <?echo Date("Y-m-d H:i:s",$touchedts)></SMALL></th></tr>

<?
echo "<tr bgcolor=#ccccc0><th colspan=4><BIG><BIG><B>";
if ($numlist != "") {
   echo $numlist, " ";
} else {
   echo "";
}
echo "Most Recently Updated Software Entries";
echo "</B></BIG></BIG>";
if ($numlist != "") {
   echo "   <a href=http://www.gnome.org/applist/listrecent.phtml>(click for complete list)</a>";
} else {
   echo " [Last month of activity]";
}

echo "</th></tr>";
>

<tr bgcolor="#eeeee0">
  <td colspan=4>
    <table border=0 cellspacing=1 cellpadding=4 width="100%">
    <tr>
      <td><B>Legend:</B></td>
      <td align=top><img align="top" src="/applist/home.gif">&nbsp;-&nbsp;Homepage</td>
      <td align=top><img align="top" src="/applist/shot.gif">&nbsp;-&nbsp;Screenshot</td>
      <td align=top><img align="top" src="/applist/pack.gif">&nbsp;-&nbsp;Stable Source&nbsp;Code</td>
      <td align=top><font color="#ff0000"><BIG>*</BIG></font>&nbsp;-&nbsp;has&nbsp;development&nbsp;code&nbsp;in&nbsp;CVS</td>
    </tr>
    </table>
  </td>
</tr>


<tr bgcolor="#eeeee0">
   <th align=center>Name</th>
   <th align=center>Updated</th>
   <th align=center>Description</th>
   <th align=center>Version</th>
</tr>

<?

# get list of all categories, sorted
$new = mysql("gnomeapps", "SELECT * FROM applist ORDER BY touched desc");

if(!$new) {
	echo "No entries exist!</td></tr></table>";
	mysql_close();
	exit;
}
$inew = 0;
$nnew = mysql_numrows($new);

if ($numlist != "" && $numlist < $nnew) {
   $nnew = $numlist;
}

while($inew < $nnew) {
#	get current category name and grab all entries in that category
	$name = mysql_result($new, $inew, "name");
	$descr = mysql_result($new, $inew, "description");

# truncate descr to reasonable length
	$descrlen = strlen($descr);
        if ($descrlen > 200) {
           $descr = substr($descr, 0, 200) + "...";
        }

	$version = mysql_result($new, $inew, "version");

	$touched = mysql_result($new, $inew, "touched");
	$hour = substr($touched, 8, 2);
	$min  =	 substr($touched, 10, 2);
	$sec  = substr($touched, 12, 2);
	$year = substr($touched, 0, 4);
	$mon  = substr($touched, 4, 2);
	$day  = substr($touched, 6, 2);
	$touchedts =  MkTime($hour,$min,$sec,$mon,$day,$year);

	$added = mysql_result($new, $inew, "added");
	$time = strchr($added, " ");
	$date = substr($added, 0, 10);
	$hour = substr($time, 1, 2);
	$min  = substr($time, 4, 2);
	$sec  = substr($time, 7, 2);
	$year = substr($date, 0, 4);
	$mon  = substr($date, 5, 2);
	$day  = substr($date, 8, 2);
	$addedts =  MkTime($hour,$min,$sec,$mon,$day,$year);

	$url_homepage = mysql_result($new, $inew, "url_homepage");
	$url_screenshot = mysql_result($new, $inew, "url_screenshot");
	$url_download = mysql_result($new, $inew, "url_download");
	$in_cvs =  mysql_result($new, $inew, "in_cvs");

	$oneweek = 60*60*24*7;
	$onemonth = $oneweek*4;
	$sinceadd = Time() - $addedts;
	$sincetouch = Time() - $touchedts;

# only show changes for last month to reduce list length
        if ( $sincetouch < $onemonth ) {

# first do package name + updated
	echo "  <tr><td>\n";
        echo "   <table border=0 width=\"100%\" cellspacing=0 cellpadding=0>\n";
	echo "   <tr bgcolor=\"#eeeee0\">\n";
	echo "      <td align=left>\n";
        echo "        <a href=view.phtml?name=",ereg_replace(" ", "%20",$name),"&prevpage=listrecent.phtml?numlist=",$numlist,">";
	echo $name,"</a>\n";

	if ( $sinceadd < $oneweek ) {
		if ( $sinceadd <= $sincetouch ) {
			echo "<img alt=\"NEW\" src=\"/applist/new.gif\">";
		} else {
			echo "<img alt=\"UPDATED\" src=\"/applist/updated.gif\">";
		}
	} else {
		if ( $sincetouch < $oneweek) {
			echo "<img alt=\"UPDATED\" src=\"/applist/updated.gif\">";
		}
	}

	echo "</td></tr>\n";

# url's now

        echo "      <tr><td align=right><table width=\"100\" border=0 cellspacing=0 cellpadding=0><tr>\n";

# next comes home page
		if ($url_homepage) {
			echo "      <td width=\"24\" align=center><a href=",$url_homepage,"><img alt=\"WWW\" border=0 src=\"/applist/home.gif\"></a></td>\n";
		} else {
			echo "      <td width=\"24\">&nbsp;\n</td>";
		}	

# next comes screeshot url
		if($url_screenshot) {
			echo "      <td width=\"30\" align=center><a href=",$url_screenshot,"><img alt=\"PIC\" border=0 src=\"/applist/shot.gif\"></a></td>\n";
		} else {
			echo "      <td width=\"30\">&nbsp;\n</td>";
		}

# source url
		if($url_download) {
			echo "      <td width=\"30\" align=center>";
			echo "<a href=",$url_download,"><img alt=\"Stable Sources\" border=0 src=\"/applist/pack.gif\"></a>\n";
                        echo "</td>\n";
		} else {
			echo "<td width=\"30\">&nbsp;\n</td>";
		}
# in cvs?
		if($in_cvs == "Y") {
		  echo "      <td width=\"0\" align=center>";
  		  echo "<font color=#ff0000><BIG>*</BIG></font>";
                  echo "</td>\n";
                } else {
 		  echo "<td width=\"0\">&nbsp;\n</td>";
                }



		echo "   </tr></table></tr></table></td>\n";


# updated
	echo "     <td>";
	echo Date("Y-m-d H:i:s",$touchedts);
	echo "     </td>\n";

# description
	echo "      <td align=left>",$descr,"   </td>\n";

# version	
	echo "      <td align=center>",$version,"</td>\n";

# end of table row
	echo "  </tr>\n";
	}
	$inew++;
}
>
</table>
<? mysql_freeresult($new); >
<? mysql_close(); >
<p>
<?
if ($prevpage == "") {
   $prevpage = "index.html";
}

if ($numlist != "") {
  echo "<a href=<? echo $prevpage>>Return to main...</a>";
}
>
</center>


<!-- end of page content -->
<!-- </td> -->
<!-- </tr> -->
<!-- </table> -->
<!-- </center> -->


</body>
</html>
