<?

function qmeta $a (
   return ereg_replace("`", "``", $a);
);

mysql_connect("www.gnome.org","gnomeweb","saHrl@nd");

# get time since last change 
$res = mysql("gnomeapps", "SELECT touched FROM applist ORDER BY touched DESC");
if(!$res) {
	echo "Query failed\n";
} else {

# get latest entry
	$touched = mysql_result($res, 0, "touched");
	$hour = substr($touched, 8, 2);
	$min  = substr($touched, 10, 2);
	$sec  = substr($touched, 12, 2);
	$year = substr($touched, 0, 4);
	$mon  = substr($touched, 4, 2);
	$day  = substr($touched, 6, 2);
	$touchedts =  MkTime($hour,$min,$sec,$mon,$day,$year);

# free first query results
	mysql_freeresult($res);
>


<H2>@@TITLE@@</H2>
(<SMALL>Last updated: <?echo Date("Y-m-d H:i:s",$touchedts)></SMALL>)
<P>
<?	if ($numlist !="") {
		echo "$numlist ";
	}
	echo "Most Recently Updated Software Entries";

	if ($numlist != "") {
		echo " <a href=http://www.gnome.org/applist/listrecent.phtml>(click for complete list)</a>";
	} else {
   	echo " [Last month of activity]";
	}>

<table border=0 cellspacing=1 cellpadding=4 width="100%">
 <tr>
  <td colspan=2><B>Legend:</B></td>
  </TR>
  <TR>
  <td align=top><img align="top" src="/applist/home.gif">&nbsp;-&nbsp;Homepage</td>
  <td align=top><img align="top" src="/applist/shot.gif">&nbsp;-&nbsp;Screenshot</td>
  </TR>
  <TR>
  <td align=top><img align="top" src="/applist/pack.gif">&nbsp;-&nbsp;Stable Source&nbsp;Code</td>
  <td align=top><font color="#ff0000"><BIG>*</BIG></font>&nbsp;-&nbsp;has&nbsp;development&nbsp;code&nbsp;in&nbsp;CVS</td>
 </tr>
</table>

<table width=100%>
 <tr bgcolor="#eeeee0">
  <th align=center>Name</th>
  <th align=center>Description</th>
 </tr>
<?

# get list of all categories, sorted
	$new = mysql("gnomeapps", "SELECT * FROM applist ORDER BY touched desc");

	if(!$new) {
		echo "<TR><TD colspan=2>No entries exist!</TD></TR>";
	} else {
		$inew = 0;
		$nnew = mysql_numrows($new);

		if ($numlist != "" && $numlist < $nnew) {
   		$nnew = $numlist;
		}

		while($inew < $nnew) {
#	get current category name and grab all entries in that category
			$name = mysql_result($new, $inew, "name");
			$descr = mysql_result($new, $inew, "description");

# truncate descr to reasonable length
			$descrlen = strlen($descr);
			if ($descrlen > 200) {
				$descr = substr($descr, 0, 200) + "...";
			}

			$version = mysql_result($new, $inew, "version");

			$touched = mysql_result($new, $inew, "touched");
			$hour = substr($touched, 8, 2);
			$min  =	 substr($touched, 10, 2);
			$sec  = substr($touched, 12, 2);
			$year = substr($touched, 0, 4);
			$mon  = substr($touched, 4, 2);
			$day  = substr($touched, 6, 2);
			$touchedts =  MkTime($hour,$min,$sec,$mon,$day,$year);

			$added = mysql_result($new, $inew, "added");
			$time = strchr($added, " ");
			$date = substr($added, 0, 10);
			$hour = substr($time, 1, 2);
			$min  = substr($time, 4, 2);
			$sec  = substr($time, 7, 2);
			$year = substr($date, 0, 4);
			$mon  = substr($date, 5, 2);
			$day  = substr($date, 8, 2);
			$addedts =  MkTime($hour,$min,$sec,$mon,$day,$year);

			$url_homepage = mysql_result($new, $inew, "url_homepage");
			$url_screenshot = mysql_result($new, $inew, "url_screenshot");
			$url_download = mysql_result($new, $inew, "url_download");
			$in_cvs =  mysql_result($new, $inew, "in_cvs");

			$oneweek = 60*60*24*7;
			$onemonth = $oneweek*4;
			$sinceadd = Time() - $addedts;
			$sincetouch = Time() - $touchedts;>
 <TR>
  <TD valign=top>
		<?	echo "   <A href=\"view.phtml?name=",ereg_replace(" ", "%20", $name),"&prevpage=listrecent.phtml?numlist=",$numlist,"\">";
			echo $name,"</A>\n";

			if ($sincetouch < $onemonth) {
				if ( $sinceadd < $oneweek ) {
					if ( $sinceadd <= $sincetouch ) {
						echo "<img alt=\"NEW\" src=\"/applist/new.gif\">";
					} else {
						echo "<img alt=\"UPDATED\" src=\"/applist/updated.gif\">";
					}
				} else {
					if ( $sincetouch < $oneweek) {
						echo "<img alt=\"UPDATED\" src=\"/applist/updated.gif\">";
					}
				}
			}>
	<BR>
	<?		if ($url_homepage) {
				echo "<A href=\"",$url_homepage,"\"><IMG alt=\"WWW\" border=0 src=\"/applist/home.gif\"></A>";
			}
			if ($url_homepage) {
				echo "<A href=\"",$url_homepage,"\"><IMG alt=\"WWW\" border=0 src=\"/applist/home.gif\"></A>";
			}
			if ($url_screenshot) {
				echo "<A href=\"",$url_screenshot,"\"><IMG alt=\"PIC\" border=0 src=\"/applist/shot.gif\"></a>";
			}
			if ($url_download) {
				echo "<A href=\"",$url_download,"\"><IMG alt=\"Stable Sources\" border=0 src=\"/applist/pack.gif\"></A>";
			}
			if ($in_cvs == "Y") {
				echo "<font color=#ff0000><BIG>*</BIG></font>";
			}
			echo "\n<BR>Version: <B>",$version,"<B>\n";>
  </TD>
  <TD valign=top><?	echo "<B>Last updated: ",Date("Y-m-d H:i:s",$touchedts),"</B><BR>";
  			echo $descr;></TD>
 </TR>
	<?		$inew++;
		}
		mysql_freeresult($new);
	}>
</TABLE>
<?
}
mysql_close();
>
