<?

function qmeta $a (
   return ereg_replace("`", "``", $a);
);

mysql_connect("www.gnome.org","gnomeweb","saHrl@nd");

# get time since last change 
$res = mysql("gnomeapps", "SELECT touched FROM applist ORDER BY touched DESC");
if(!$res) {
	echo "Query failed<BR>";
	mysql_close();
} else {

	# get latest entry
	$touched = mysql_result($res, 0, "touched");
	$hour = substr($touched, 8, 2);
	$min  = substr($touched, 10, 2);
	$sec  = substr($touched, 12, 2);
	$year = substr($touched, 0, 4);
	$mon  = substr($touched, 4, 2);
	$day  = substr($touched, 6, 2);
	$touchedts =  MkTime($hour,$min,$sec,$mon,$day,$year);

  # free first query results
	mysql_freeresult($res);
	$cats = mysql("gnomeapps", "SELECT category FROM applist GROUP BY category ORDER BY category");
	if (!$cats) {
		echo "No categories exist\n";
	} else {
>

<H2>@@TITLE@@(<SMALL>Last updated <?echo Date("Y-m-d H:i:s", $touchedts)></SMALL>)</H2>
<?		if ($catno == "") {>
  <H3><B>Categories:</B></H3>
<?
			$icats = 0;
			$ncats = mysql_numrows($cats);

			while($icats < $ncats) {
				$category = mysql_result($cats, $icats, "category");

				$qry = "SELECT * FROM applist WHERE category = '"+qmeta($category)+"' ORDER BY name";	
				$res = mysql("gnomeapps", $qry);

				$n = mysql_numrows($res);
				$icats++;

				if ($n > 0) {
					echo "<a href=\"lotr.phtml?catno=$icats\">$category</a>($n)<br>\n";
				}
			}
		} else { >
<table border=0 cellspacing=1 cellpadding=4 width="100%">
 <tr>
  <td colspan=2><B>Legend:</B></td>
 </TR>
 <TR>
  <td align=top><img align="top" src="home.gif">&nbsp;-&nbsp;Homepage</td>
  <td align=top><img align="top" src="shot.gif">&nbsp;-&nbsp;Screenshot</td>
 </TR>
 <TR>
  <td align=top><img align="top" src="pack.gif">&nbsp;-&nbsp;Stable Source&nbsp;Code</td>
  <td align=top><font color="#ff0000"><BIG>*</BIG></font>&nbsp;-&nbsp;has&nbsp;development&nbsp;code&nbsp;in&nbsp;CVS</td>
 </TR>
</TABLE>
<?
		# get current category name and grab all entries in that category
		$category = mysql_result($cats, $catno-1, "category");

		$qry = "SELECT * FROM applist WHERE category = '"+qmeta($category)+"' ORDER BY name";	

		$res = mysql("gnomeapps", $qry);

		$i = 0;
		$n = mysql_numrows($res);
		if ($n > 0) {>
<TABLE cellspacing=1 cellpadding=4>
 <TR cellpadding=40>
  <TD colspan=2><BIG><B><?echo $category></B></BIG></TD>
 </TR>
 <TR>
  <TH align=left width="0">Name</TH>
  <TH align=left width="100%">Description</TH>
 </TR>
<?		}

		while($i < $n) {
			$name = mysql_result($res, $i, "name");
			$version = mysql_result($res, $i, "version");
			$mname = mysql_result($res, $i, "maintainer_name");
			$memail = mysql_result($res, $i, "maintainer_email");
			$desc = mysql_result($res, $i, "description");
# truncate to reasonable length
			$desclen = strlen($desc);
			if ($desclen > 400) {
				$desc = substr($desc, 0, 400) + "...";
			}

			$requires = mysql_result($res, $i, "requires");
			$url_homepage = mysql_result($res, $i, "url_homepage");
			$url_screenshot = mysql_result($res, $i, "url_screenshot");
			$url_download = mysql_result($res, $i, "url_download");
			$in_cvs =  mysql_result($res, $i, "in_cvs");
			$category = mysql_result($res, $i, "category");
			$added = mysql_result($res, $i, "added");
			$touched = mysql_result($res, $i, "touched");

			$oneweek = 60*60*24*7;

# dont ask I couldnt get mysql time/date functions to work with mysql_result()
			$time = strchr($added, " ");
			$date = substr($added, 0, 10);
			$hour = substr($time, 1, 2);
			$min  = substr($time, 4, 2);
			$sec  = substr($time, 7, 2);
			$year = substr($date, 0, 4);
			$mon  = substr($date, 5, 2);
			$day  = substr($date, 8, 2);
			$addedts =  MkTime($hour,$min,$sec,$mon,$day,$year);

			$hour = substr($touched, 8, 2);
			$min  = substr($touched, 10, 2);
			$sec  = substr($touched, 12, 2);
			$year = substr($touched, 0, 4);
			$mon  = substr($touched, 4, 2);
			$day  = substr($touched, 6, 2);
			$touchedts =  MkTime($hour,$min,$sec,$mon,$day,$year);

# now addedts and touchedts are unix timestamps
			$sinceadd = Time() - $addedts;
			$sincetouch = Time() - $touchedts;

# start of a row 
>
 <TR>
  <TD align=left>
<?
			echo "   <A href=\"view.phtml?name=",ereg_replace(" ", "%20", $name),"&prevpage=lotr.phtml?catno=",$catno,"\">";
			echo $name,"</A>\n";

# new or updated?
			if ( $sinceadd < $oneweek ) {
				if ( $sinceadd <= $sincetouch ) {
					echo "   <img alt=\"NEW\" src=\"new.gif\">";
				} else {
					echo "   <img alt=\"UPDATED\" src=\"updated.gif\">";
				}
			} else {
				if ( $sincetouch < $oneweek) {
					echo "   <img alt=\"UPDATED\" src=\"updated.gif\">";
				}
			}
			echo "<BR>\n";
			if ($url_homepage) {
				echo "<A href=",$url_homepage,"><IMG border=0 alt=\"WWW\" src=\"home.gif\"></A>";
			}
			if ($url_screenshot) {
				echo "<A href=",$url_screenshot,"><IMG border=0 alt=\"PIC\" src=\"shot.gif\"></A>";
			}
			if ($url_download) {
				echo "<A href=",$url_download,"><IMG border=0 alt=\"Stable Sources\" src=\"pack.gif\"></A>";
			}
			if ($in_cvs == "Y") {
				echo "<FONT color=\"#FF0000\"><BIG>*</BIG></FONT>";
			}
			echo "\n     <BR>Version: $version<BR>\n";>
  </TD>
  <TD align=center><?echo $desc;></TD>
 </TR>
<?			$i++;
		}>
</TABLE>
<?
		mysql_freeresult($res);
		mysql_freeresult($cats);
	}
	mysql_close();
>
