<?

function qmeta $str (
   return ereg_replace("'", "``", $str);
);

mysql_connect("www.gnome.org","gnomeweb","saHrl@nd");
$qry = "SELECT * FROM applist WHERE name = '"+qmeta($name)+"'"; 
$res = mysql("gnomeapps", $qry);
if(!$res) {
	echo "Query failed\n";
} else {

	$i = 0;
	$n = mysql_numrows($res);

	if($n < 1) {
		echo "Query failed</tr></td></table>";
		mysql_close();
	}
	if($n > 1) {
		echo "Got more than one package by that name!\n";
		mysql_close();
	} else {
		$name = mysql_result($res, $i, "name");
		$version = mysql_result($res, $i, "version");
		$mname = mysql_result($res, $i, "maintainer_name");
		$memail = mysql_result($res, $i, "maintainer_email");
		$desc = mysql_result($res, $i, "description");
		$keywords = mysql_result($res, $i, "keywords");
		$requires = mysql_result($res, $i, "requires");
		$url_homepage = mysql_result($res, $i, "url_homepage");
		$url_screenshot = mysql_result($res, $i, "url_screenshot");
		$url_download = mysql_result($res, $i, "url_download");
		$in_cvs =  mysql_result($res, $i, "in_cvs");
		$category = mysql_result($res, $i, "category");
		$added = mysql_result($res, $i, "added");
		$touched = mysql_result($res, $i, "touched");
		mysql_freeresult($res);

# dont ask I couldnt get mysql time/date functions to work with mysql_result()
		$time = strchr($added, " ");
		$date = substr($added, 0, 10);
		$hour = substr($time, 1, 2);
		$min  = substr($time, 4, 2);
		$sec  = substr($time, 7, 2);
		$year = substr($date, 0, 4);
		$mon  = substr($date, 5, 2);
		$day  = substr($date, 8, 2);
		$addedts =  MkTime($hour,$min,$sec,$mon,$day,$year);

		$hour = substr($touched, 8, 2);
		$min  = substr($touched, 10, 2);
		$sec  = substr($touched, 12, 2);
		$year = substr($touched, 0, 4);
		$mon  = substr($touched, 4, 2);
		$day  = substr($touched, 6, 2);
		$touchedts =  MkTime($hour,$min,$sec,$mon,$day,$year);
		if ($prevpage == "") {
   		$prevpage = "list.phtml";
		}
>

<H2>@@TITLE@@ <FONT color=navy><?echo $name;></FONT></H2>
<P>
Category: <?echo $category;><BR>
<?		if ($in_cvs == "Y") {
			echo "Code is is CVS<BR>\n";
		}
>
<P><B>Description</B>
<?		echo $desc;></P>
Version: <?echo $version;><BR>
Search keywords: <?echo $keywords;>
<P><B>Requirements:</B>
<?echo $requires;><P>
URL's:<UL>
<?
		if ($url_homepage) {
			echo "<LI><A href=\"",$url_homepage,"\">Homepage</A></LI>";
		}
		if ($url_screenshot) {
 			echo "<LI><A href=\"",$url_screenshot,"\">Screenshot</A></LI>";
		}
		if ($url_download) {
 			echo "<LI><A href=\"",$url_download,"\">Downloads</A></LI>";
		}
>
</UL>
Last updated on <?echo Date("Y-m-d H:i:s",$touchedts);><BR>
Entry created on <?echo Date("Y-m-d H:i:s",$addedts)><BR>
<P>
<?
		echo "<A href=\"",$prevpage,"\">Return to Software Listing</A>\n";
	}
mysql_close();
}
>
